<% content_for :page_header do %>
  <h1>Products</h1>
  <%= link_to "New product", new_product_path, class: 'btn btn-primary' %>
<% end %>

<table id="products" class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>width</th>
      <th>height</th>
      <th>weight</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  </tbody>
</div>

