<% content_for :page_header do %>
  <h1>New product</h1>
  <%= link_to "Back to products", products_path, class: 'btn btn-light' %>
<% end %>

<%= turbo_frame_tag "modal" do %>
  <%= render "form", product: @product %>
<% end %>


