<% content_for :page_header do %>
  <h1>Product</h1>
  <%= link_to "Back to products", products_path, class: 'btn btn-light' %>
<% end %>


<table class="table">
  <tbody>
    <%= render @product %>
  </tbody>
</table>
